<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addToCart</servlet-name>
        <servlet-class>addToCart</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Cart</servlet-name>
        <servlet-class>Cart</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Checkout</servlet-name>
        <servlet-class>Checkout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Finalise</servlet-name>
        <servlet-class>Finalise</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Close</servlet-name>
        <servlet-class>Close</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Logout</servlet-name>
        <servlet-class>Logout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Signup</servlet-name>
        <servlet-class>Signup</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PastOrders</servlet-name>
        <servlet-class>PastOrders</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>removeFromCart</servlet-name>
        <servlet-class>removeFromCart</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Menu</servlet-name>
        <servlet-class>Menu</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CheckHome</servlet-name>
        <servlet-class>CheckHome</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addToCart</servlet-name>
        <url-pattern>/addToCart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Cart</servlet-name>
        <url-pattern>/Cart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Checkout</servlet-name>
        <url-pattern>/Checkout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Finalise</servlet-name>
        <url-pattern>/Finalise</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Close</servlet-name>
        <url-pattern>/Close</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Logout</servlet-name>
        <url-pattern>/Logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Signup</servlet-name>
        <url-pattern>/Signup</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PastOrders</servlet-name>
        <url-pattern>/PastOrders</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>removeFromCart</servlet-name>
        <url-pattern>/removeFromCart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Menu</servlet-name>
        <url-pattern>/Menu</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CheckHome</servlet-name>
        <url-pattern>/CheckHome</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
